<div id="frmBOC">
    <div class="form-horizontal">
        <div class="row">
            <div class="col-md-12">
                <div class="form-horizontal">
                    <div class="form-group">
                        <div class="col-md-12">
                            <div id="gridBOC"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>





<script>


    $(() => {
        const DxSource = new DevExpress.data.CustomStore({
            load() {
                return sendRequest(`/Operaciones/ListarOcGrid`);
            },
        });

        let selectedNumeroOrden = null; // Variable para almacenar el primer PrvCCod seleccionado

        //se cambio IdMaquina por CodigoFibra del value de update y remove y el keyExpr
        const dataGrid2 =
            $('#gridBOC').dxDataGrid({
                dataSource: DxSource,
                //keyExpr: 'CodigoFibra',



                columnAutoWidth: true,



                onRowInserted(e) {
                    e.component.navigateToRow(e.key);
                },
                columns: [
                    {
                        dataField: "id",
                        caption: 'id',

                    },
                    {
                        dataField: "NumeroOrden",
                        caption: 'Numero Orden',

                    },  

                    {
                        dataField: "PrvCCod",
                        caption: 'Codigo Proovedor',

                    },


                    {
                        dataField: "MaeCCod",
                        caption: 'Codigo Articulo',

                    },


                    {
                        dataField: "MaeDDes",
                        caption: 'Descripcion Articulo',

                    },



                    {
                        dataField: "PrvDDes",
                        caption: 'Descrpcion Proovedor',

                    }, 
                    {
                        dataField: "TarDNem",
                        caption: 'TarDNem',
                    },
                    {
                        dataField: "CNPDDes",
                        caption: 'CNPDDes',
                    },
                    {
                        dataField: "OrcDMon",
                        caption: 'OrcDMon',
                    },
                    //{
                    //    dataField: "FechaCreacion",
                    //    caption: 'Fecha Creación',
                    //    dataType: "date",
                    //    format: "yyyy-MM-dd"
                    //},
                ],
                toolbar: {
                    items: [

                        {
                            location: 'after',
                            widget: 'dxButton',
                            options: {
                                icon: 'refresh',
                                text: "ACTUALIZAR",
                                onClick() {
                                    dataGrid2.clearFilter(); // Limpia los filtros
                                    dataGrid2.deselectAll(); // Deselecciona todas las filas
                                    dataGrid2.refresh();     // Refresca los datos
                                },
                                stylingMode: "outlined", // Cambia el estilo del botón a outlined
                                // Modifica el color del botón
                                elementAttr: {
                                    class: "ClsRefresh custom-button-style" // Puedes cambiar "dx-color-blue" por otro color de tu elección
                                }
                            },
                        },
                    ],
                },
                onSelectionChanged(e) {
                    //const selectedRows = e.selectedRowsData;

                    //if (selectedRows.length === 0) {
                    //    selectedPrvCCod = null; // Restablecer cuando no haya selección
                    //    return;
                    //}

                    //if (!selectedPrvCCod) {
                    //    selectedPrvCCod = selectedRows[0].PrvCCod; // Guardar el primer PrvCCod seleccionado
                    //}

                    //// Filtrar las filas que no coinciden con el PrvCCod seleccionado
                    //const filteredSelection = selectedRows.filter(row => row.PrvCCod === selectedPrvCCod);

                    //if (filteredSelection.length !== selectedRows.length) {
                    //    DevExpress.ui.notify("Solo puedes seleccionar filas con el mismo Código de Proveedor.", "warning", 2000);

                    //    // Desmarcar la selección de filas inválidas
                    //    const gridInstance = e.component;
                    //    gridInstance.deselectRows(selectedRows.map(row => row.id)); // Desmarca todo
                    //    gridInstance.selectRows(filteredSelection.map(row => row.id)); // Solo deja las válidas
                    //}

                    const selectedRows = e.selectedRowsData;
                    const gridInstance = e.component;

                    if (selectedRows.length === 0) {
                        // Restablecer filtro si no hay selección
                        selectedNumeroOrden = null;
                        gridInstance.clearFilter();
                        return;
                    }

                    if (!selectedNumeroOrden) {
                        selectedNumeroOrden = selectedRows[0].NumeroOrden; // Tomar el PrvCCod de la primera selección
                    }

                    gridInstance.filter(["NumeroOrden", "=", selectedNumeroOrden]);

                    // Actualizar el resumen manualmente
                    gridInstance.refresh();
                },




                hoverStateEnabled: true,
                filterRow: { visible: true },
                showColumnLines: true,
                showRowLines: true,
                rowAlternationEnabled: true,
                showBorders: true,
                selection: {
                    mode: 'multiple',
                    showCheckBoxesMode: 'always', // Opcional: Mostrar checkboxes siempre
                    allowSelectAll: false // Evita que se seleccione todo

                },
                paging: {
                    pageSize: 15,  // Set the number of rows per page as per your requirement
                },
                

            }).dxDataGrid('instance');



    })


</script>

<style>

    #gridBOC .dx-toolbar {
        background-color: #002762;
        padding: 10px 10px 5px 0px;
    }
</style>

