
@model  CAMTEX.Entidades.Files
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<div id="frmFibra">
    <div class="form-horizontal">
        <div class="panel panel-default">
            <div class="panel-body">

                <div id="gridContainer">

                </div>
            </div>
        </div>



        <!-- Contenedor para el dxPopup Registrar. -->
        <div id="popupContainerEP"></div>
    </div>
</div>






<script>


    $(document).ready(function () {

        loadGridFile();


    })



    var columnsConfig = [
        {
            dataField: 'NroOp', caption: 'Nro Operación', alignment: 'left',
        },
        {
            dataField: 'OrdC', caption: 'Orden Compra', alignment: 'left',
        },
        {
            dataField: 'FechaOp', caption: 'Fecha Operción', alignment: 'left', dataType: "date",
            format: "yyyy-MM-dd"

        },
        {
            dataField: 'FileId', caption: 'Id File', alignment: 'left', visible: false
        },
        {
            dataField: 'CodFile', caption: 'Cod. File', alignment: 'left',
        },
        {
            dataField: 'NombreF', caption: 'Nombre File', alignment: 'left',
        },


        {
            dataField: 'Proveedor', caption: 'Proveedor', alignment: 'left', width: 280,
        },

        {
            dataField: 'DesArt', caption: 'Producto', alignment: 'left', width: 280,
        },
        //{
        //    dataField: 'Solicitado', caption: 'Solicitado', alignment: 'left',
        //},
        //{
        //    dataField: 'DUA', caption: 'DUA', alignment: 'left',
        //},
        //{
        //    dataField: 'Deposito', caption: 'Deposito', alignment: 'left',
        //},
        {
            dataField: 'Situacion', caption: 'Situacion', alignment: 'left',
        },
        //{
        //    dataField: 'FechaIngreso', caption: 'FechaIngreso', alignment: 'left', dataType: "date",
        //    format: "yyyy-MM-dd"
        //},
        {
            dataField: 'FechaEmbarque', caption: 'FechaEmbarque', alignment: 'left', dataType: "date",
            format: "yyyy-MM-dd"
        },
        {
            dataField: 'ViaTransporte', caption: 'ViaTransporte', alignment: 'left',
        },
        //{
        //    dataField: 'EstadoCalidad', caption: 'EstadoCalidad', alignment: 'left',
        //},
        //{
        //    dataField: 'NumFactura', caption: 'NumFactura', alignment: 'left',
        //},
        //{
        //    dataField: 'LineaNaviera', caption: 'LineaNaviera', alignment: 'left',
        //},
        //{
        //    dataField: 'Contenedor', caption: 'Contenedor', alignment: 'left',
        //},
        //{
        //    dataField: 'AgenteAduana', caption: 'AgenteAduana', alignment: 'left',
        //},
    ];







    function loadGridFile() {

        $(() => {
            const DxSource = new DevExpress.data.CustomStore({
                key: 'NroOp',

                load() {
                    return sendRequest(`/Operaciones/ListarFilesI`).then(data => {
                        return data;
                    });
                },
            });




            const dataGrid =
                $('#gridContainer').dxDataGrid({
                    allowExpandAll: true,
                    expandAll: true,
                    keyExpr: 'FileId',

                    noDataText: "No hay información para mostrar",


                    allowSorting: false,
                    allowFiltering: true,
                    allowColumnResizing: true,
                    showRowTotals: true,
                    showColumnTotals: true,
                    showRowGrandTotals: true,
                    showTotals: true,
                    editing: {
                        mode: 'popup',
                        //allowUpdating: true,
                        useIcons: true,
                        //allowDeleting: true,//sirve para confirmar tu eliminacion


                        form: {

                        }
                    },


                    showGrandTotals: false,
                    showColumnGrandTotals: false,
                    height: 700,
                    fieldChooser: {
                        enabled: false,
                    },

                    dataSource: {

                        store: DxSource,
                        pageSize: 20, // Set the desired page size
                        pageIndex: 0 // Set the initial page index
                    },


                    onEditorPreparing: {},
                    onrRowInserted(e) {
                        e.component.navigateToRow(e.key);
                    },
                    columns: columnsConfig,


                    toolbar: {
                        items: [

                            {
                                location: "before", // Ubicación antes de los botones existentes
                                template: function () {
                                    return $("<div>")
                                        .addClass("toolbar-item")
                                        .append($("<img>")
                                            .attr("src", "/img/logo.png") // Ruta de la imagen
                                            .addClass("toolbar-icon") // Clase de estilo para la imagen
                                        )
                                        .append($("<span>")
                                            .text("Files (Importaciones)") // Texto del título
                                            .addClass("toolbar-title") // Clase de estilo personalizada
                                        );
                                },
                                cssClass: "toolbar-title-container" // Clase para el contenedor del título
                            },
                            {
                                location: "after",
                                widget: "dxButton",
                                options: {
                                    icon: "add",
                                    text: "REGISTRAR",
                                    onClick: function () {
                                        //dataGrid.addRow();
                                        RegistrarFile();
                                    },
                                    stylingMode: "outlined", // Cambia el estilo del botón a outlined
                                    // Modifica el color del botón
                                    elementAttr: {
                                        class: "ClsAgregar custom-button-style" // Puedes cambiar "dx-color-blue" por otro color de tu elección
                                    }
                                },
                            },
                            /*EDITAR*/
                            {
                                location: "after",
                                widget: "dxButton",
                                options: {
                                    icon: "edit",
                                    text: "EDITAR",
                                    onClick: function () {
                                        const selectedRowIndex = dataGrid.option("focusedRowIndex");
                                        if (selectedRowIndex !== undefined && selectedRowIndex !== -1) {


                                            const visibleRows = dataGrid.getVisibleRows(); // Obtener las filas visibles

                                            // Verificar que el índice seleccionado esté dentro del rango de las filas visibles
                                            if (visibleRows[selectedRowIndex]) {
                                                const selectedRowData = visibleRows[selectedRowIndex].data;

                                                // Verificar si la fila tiene un 'Estado' válido (por ejemplo, que no esté eliminada)
                                                if (selectedRowData && selectedRowData.Estado !== 0) {
                                                    dataGrid.editRow(selectedRowIndex);
                                                } else {
                                                    Swal.fire({
                                                        icon: 'error',
                                                        title: 'Oops...',
                                                        text: 'La fila seleccionada ha sido eliminada y no se puede editar.',
                                                        customClass: {
                                                            container: 'my-swal-container',
                                                        },
                                                    });
                                                }
                                            } else {
                                                // Si no hay una fila en el índice seleccionado, muestra un mensaje de error
                                                Swal.fire({
                                                    icon: 'error',
                                                    title: 'Oops...',
                                                    text: 'La fila seleccionada no es válida o ya no está visible.',
                                                    customClass: {
                                                        container: 'my-swal-container',
                                                    },
                                                });
                                            }

                                        } else {
                                            // Si no hay una fila seleccionada, muestra un mensaje o realiza otra acción
                                            Swal.fire({
                                                icon: 'error',
                                                title: 'Oops...',
                                                text: 'Selecciona una fila antes de editar.',
                                                customClass: {
                                                    container: 'my-swal-container', // Clase personalizada para ajustar z-index
                                                },
                                            });
                                        }
                                    },
                                    stylingMode: "outlined", // Cambia el estilo del botón a outlined
                                    // Modifica el color del botón
                                    elementAttr: {
                                        class: "ClsEditar custom-button-style" // Puedes cambiar "dx-color-blue" por otro color de tu elección
                                    }

                                },
                            },
                            /*FIN EDITAR*/




                            {
                                location: 'after',
                                widget: 'dxButton',
                                options: {
                                    icon: 'refresh',
                                    text: "ACTUALIZAR",
                                    onClick() {
                                        dataGrid.refresh();
                                    },
                                    stylingMode: "outlined", // Cambia el estilo del botón a outlined
                                    // Modifica el color del botón
                                    elementAttr: {
                                        class: "ClsRefresh custom-button-style" // Puedes cambiar "dx-color-blue" por otro color de tu elección
                                    }
                                },
                            },

                            'exportButton',
                        ],
                    },

                    export: {
                        enabled: true,

                    },


                    onExporting(e) {
                        const workbook = new ExcelJS.Workbook();
                        const worksheet = workbook.addWorksheet('data');

                        DevExpress.excelExporter.exportDataGrid({
                            component: e.component,
                            worksheet,
                            autoFilterEnabled: true,
                        }).then(() => {
                            workbook.xlsx.writeBuffer().then((buffer) => {
                                saveAs(new Blob([buffer], { type: 'application/octet-stream' }), 'data.xlsx');
                            });
                        });
                        e.cancel = true;
                    },
                    hoverStateEnabled: false,
                    filterRow: { visible: true },
                    showColumnLines: true,
                    showRowLines: true,
                    rowAlternationEnabled: true,
                    showBorders: true,
                    selection: {
                        mode: 'single',
                    },
                    paging: {
                        pageSize: 15,  // Set the number of rows per page as per your requirement
                    },



                }).dxDataGrid('instance');


        })

    }






    function RegistrarFile(){
        var grid = $('#gridContainer').dxDataGrid('instance');

        var selectedData = grid.getSelectedRowsData();
        /*SECCION EDITAR*/
        //if (selectedData.length > 0) {

            //console.log("selectedRowData para editar: ", selectedData[0].IdPeriodoInventario);
            //console.log("selectedRowData para editar: ", selectedData[0]);

        /*} else {
            // Si no hay una fila seleccionada, muestra un mensaje o realiza otra acción
            Swal.fire({
                icon: 'error',
                title: 'Oops...',
                text: 'Selecciona una fila antes de registrar.',
                customClass: {
                    container: 'my-swal-container', // Clase personalizada para ajustar z-index
                },
            });
        }*/

        /*POPUP DE LA VISTA REGISTRAR*/


        $("#popupContainerEP").dxPopup({
                width: 1300,
                height: 900,
                showTitle: true,
                title: "Registrar File (Importación)",
                visible: false, // Mantén el popup oculto hasta que sea necesario
                dragEnabled: true,
                hideOnOutsideClick: true,
                contentTemplate: function (contentElement) {
                    // Cargar el contenido mediante AJAX
                    $.ajax({

                        url: '@Url.Content("~/Operaciones/Registrar")',
                        type: "GET",
                        success: function (data) {
                            contentElement.html(data);
                        },
                        error: function () {
                            contentElement.html("<p>Error al cargar el contenido.</p>");
                        }
                    });
                },

            }).dxPopup("show");



    }




</script>





<style>



    .toolbar-icon {
        width: 150px; /* Ajusta el tamaño de la imagen */
        height: 60px;
        margin-right: 5px; /* Espacio entre la imagen y el texto */
        margin-left: 10px; /* Espacio entre la imagen y el borde izquierdo */
        vertical-align: middle; /* Alineación vertical */
    }

    .toolbar-title {
        font-weight: bold; /* Estilo de texto */
        font-size: 16px;
    }

    .toolbar-item {
        display: flex;
        align-items: center;
    }



























    .demo-container {
        display: flex;
        flex-wrap: wrap; /* Asegura que los elementos se envuelvan si el espacio es insuficiente */
        gap: 10px; /* Añade espacio entre los gráficos, puedes ajustar el valor */
    }

        .demo-container > div {
            flex: 1;
            min-width: 0;
            max-width: 100%; /* Asegura que no se salga del contenedor */
        }



    .ClsTitulo {
        -webkit-text-stroke-width: 2px;
        font-weight: bolder;
        -webkit-text-stroke-color: gray;
        text-shadow: 0px 2px 4px red;
    }
    /*EITAR EL BOTON*/
    .custom-selectbox1 .dx-texteditor-input {
        font-size: 16px;
        color: black; /* Cambia el color del texto */
        font-weight: bold; /* Hace que el texto sea en negrita */
    }










    .dx-area-column-cell .dx-scrollable-content.dx-scrollable-content td {
        text-align: center !important;
    }

    .grid-container0 {
        display: flex; /* Usar flexbox para alinear los grids en una fila */
        gap: 10px; /* Espacio entre los grids */
    }

    #gridContainer {
        overflow-x: auto;
        flex-grow: 3; /* Asignamos un factor de crecimiento de 2 al primer gridContainer */
    }


    .grid {
        flex: 1;
        min-width: 0; /* Evita que los grids se desborden */
        overflow: hidden; /* Asegura que el contenido no se desborde */
    }


    #gridContainer .dx-datagrid-header-panel {
        padding: 0;
        background-color: #002762;
    }



    .toolbar-title {
        color: white;
        font-size: 25px;
        padding: 10px !important;
    }

    .labelCod > div {
        background-color: #f1f3f4;
        text-align: center;
    }

    .deshabilitado {
        background-color: #f1f3f4;
    }

    .my-swal-container {
        z-index: 10000; /* Puedes ajustar este valor según sea necesario */
    }


    .ClsAgregar {
        font-weight: 600 !important;
        color: #fff;
        background-color: #5cb85c;
        border-color: #4cae4c;
    }

        .ClsAgregar:hover,
        .ClsAgregar:focus {
            background-color: #4d984d; /* Color de fondo del botón al hacer hover o focus */
        }

    .ClsEditar {
        font-weight: 600 !important;
        color: #fff;
        background-color: #f0ad4e;
        border-color: #eea236;
    }

        .ClsEditar:hover,
        .ClsEditar:focus {
            background-color: #d18c37; /* Color de fondo del botón al hacer hover o focus */
        }

    .ClsRefresh {
        font-weight: 600 !important;
        color: #fff;
        background-color: #337ab7;
        border-color: #2e6da4;
    }

        .ClsRefresh:hover,
        .ClsRefresh:focus {
            background-color: #1c4e7e; /* Color de fondo del botón al hacer hover o focus */
        }

    .custom-button-style .dx-icon {
        color: white !important;
    }


    /**QUITAR LOS DE ABAJO*/



    .custom-dx-buttonDetalle {
        font-weight: 600 !important;
        color: white !important;
        background-color: #57889c !important;
        border-color: #4e7a8c !important;
    }


    #gridContainer .dx-datagrid-headers .dx-header-row {
        
        -webkit-text-stroke-color: white;
        
    }




    /*CENTRAR TODO LOS TITULOS*/
    .dx-row.dx-column-lines.dx-header-row td {
        text-align: center !important;
    }

    .dx-datagrid-headers.dx-datagrid-nowrap.dx-header-multi-row .dx-datagrid-table.dx-datagrid-table-fixed {
        -webkit-text-stroke-width: 0.2px;
        -webkit-text-stroke-color: white;
        text-shadow: 0px 2px 4px black;
    }

    #gridContainer .dx-datagrid-table.dx-datagrid-table-fixed tr.dx-row.dx-data-row.dx-column-lines {
        font-size: 12px;
        border: 1px solid #58a6d33b;
    }

    .dx-row.dx-column-lines.dx-header-row {
        font-size: 12px;
    }
</style>
